<h1>Where are the Agents?</h1>
<table class="table table-striped table-bordered table-hover">
  <thead>
    <th>Agent Name</th>
    <% @dossiers.sample.missions.each do |mission| %>
      <th><%= mission.time.to_s(:mon_year) %></th>
    <% end %>
  </thead>
  <tbody>
    <% @dossiers.each do |dossier| %>
      <tr>
        <td>
          <%= dossier.user.name %>
        </td>
        <% dossier.missions.each do |mission| %>
          <td>
            <%= mission.name %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
