<% @dossiers.each do |dossier| %>
  <div class="row">
    <div class="col-md-2 text-right"%>
      <%= dossier.user.name %>
    </div>
    <%= dossier.missions.each do |mission| %>
      <div class="col-md-2"%>
        <%= mission.name %>
      </div>
    <% end %>
  </div>
<% end %>
