HEYO

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="table-responsive">
      <table class="table table-hover table-striped table-condensed">
        <thead>
          <th>Week</th>
          <th>Client</th>
          <th>Project</th>
          <th>Timesheets</th>
          <th>Last Submitted</th>
          <th>Send</th>
        </thead>
        <tbody>
          <% @invoices.each do |invoice| %>
            <tr>
              <td>todo</td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
