<table class="table table-condensed">
  <thead>
    <th>Client</th>
    <th>Project</th>
    <th>Active</th>
    <th></th>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.client.name %></td>
        <td><%= project.name %></td>
        <td><%= project.active? ? 'Active' : 'Inactive' %></td>
        <td><%= link_to "Edit", edit_project_path(project) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
