@import "bootstrap-sprockets"
@import "bootstrap"

$danger-color: #D85251
$success-color: #60B660
$warn-color: #FF911A

.hidden
  display: none

.invisible
  visibility: none

.inline-bock
  display: inline-block

.timesheet-form
  margin-top: 35px

  .form-control
    width: auto

  textarea.form-control
    width: 100%

  .glyphicon
    color: rgb(125, 125, 125)

  .location
    .location-open
      cursor: pointer

      &.customized
        color: rgb(46, 139, 230)

.invoices.show
  .warning
    color: warn-color

  .breather-top
    margin-top: 60px

.danger
  color: $danger-color

.success
  color: $success-color

.top
  .top-alert
    @extend .text-center
    @extend .alert
    border-radius: 0
    margin-bottom: 0

    &:last-child
      margin-bottom: 20px

// presence buttons
.presence-select
  [data-presence=absent].color
    @extend .btn-danger

  [data-presence=half].color
    @extend .btn-warning


  [data-presence=full].color
    @extend .btn-success

//invoice-todo timesheet status
.timesheet-status
  border-radius: 4px
  padding: 0px 10px 0px 10px


  &.looks-good
    border: 1px solid $success-color
    background-color: lighten($success-color, 40%)


  &.looks-bad
    border: 1px solid $danger-color
    background-color: lighten($danger-color, 40%)

  h3
    margin-top: 10px



footer
  margin-top: 100px
  margin-bottom: 100px
