@import "bootstrap-sprockets"
@import "bootstrap"

.hidden
  display: none

.invisible
  visibility: none

.inline-bock
  display: inline-block

.timesheet-form
  margin-top: 35px

  .form-control
    width: auto

  textarea.form-control
    width: 100%

  .glyphicon
    color: rgb(125, 125, 125)

  .location
    .location-open
      cursor: pointer

      &.customized
        color: rgb(46, 139, 230)

.invoices.show
  .warning
    color: #FF911A

  .breather-top
    margin-top: 60px


.danger
  color: #D85251

.success
  color: #60B660

.top
  .top-alert
    @extend .text-center
    @extend .alert
    border-radius: 0
    margin-bottom: 0

    &:last-child
      margin-bottom: 20px

// presence buttons
.presence-select
  [data-presence=absent].color
    @extend .btn-danger

  [data-presence=half].color
    @extend .btn-warning


  [data-presence=full].color
    @extend .btn-success



footer
  margin-top: 100px
  margin-bottom: 100px
